/* 
Convention de nommage : BEM 
Block
Element
Modifier
*/

/*
FLUX
*/

.flux {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

/*
BUTTON
*/

.button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.button--black {
    background-color: black;
    color: white;
}


/*
HEADER
*/

.header {
    background-color: grey;
    position: fixed;
    width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header__logo {
    width: 150px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(15%) saturate(57%) hue-rotate(234deg) brightness(115%) contrast(100%);
}

.header__list-link {
    display: flex;
    column-gap: 20px;
    align-items: center;
    height: 100%;
}

.header__link {
    color: white;
}

.header__quick-actions {
    display: flex;
    column-gap: 20px;
}


/*
HERO
*/

.hero {
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    row-gap: 20px;
}

.hero__title {
    color: white;
    font-weight: 400;
    font-size: 36px;
}

.hero__description {
    color: white;
}

.hero__search {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    column-gap: 30px
}

.hero__field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.hero__label {
    color: grey;
    font-size: 14px;
}

.hero__input {
    color: black;
    font-size: 18px;
    width: 300px;
}

.hero__input::placeholder {
    opacity: 1;
}